table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table caption {
    padding-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

thead th {
    background-color: #f5f5f5;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    font-weight: 700;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.opcoes {
    display: flex;
    gap: 10px;
}

.alterar_btn,
.excluir_btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.alterar_btn {
    background-color: #007bff;
    color: #fff;
}

.excluir_btn {
    background-color: #dc3545;
    color: #fff;
}