.container__adicionar {
    width: 100%;
    height: calc(100vh - 10vh);
    display: flex;
}

.campo {
    background-color: #f6f6f6;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: auto auto;
}

.campo input[type="submit"] {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.campo input[type="submit"]:hover {
    background-color: #0056b3;
}